<!DOCTYPE html>
<html>
  <head>
    <title>トップページ</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
     <div>
        <header>
          <ul class="header-menus">
              <li>
                <%= link_to("日報一覧" "") %>
              </li>
              <li>
                <%= link_to("メモ作成機能", "") %>
              </li>
              <li>
                <%= link_to("日報作成", "") %>
              </li>
              <li>
                <%= link_to("フォーマット作成", "") %>
              </li>
              <li>
                <%= link_to("ログアウト", "") %>
              </li>
          </ul>
        </header>
     </div>
    <%= yield %>
    <div class="osirase">
      テスト
      <dl>
        <div>
          <dt>2020/11/07</dt>
          <dd><a href="#">Aページを更新しました。</a>
          </dd>
        </div>
        <div>
          <dt>2020/11/07</dt>
          <dd>
            <a href="#">Bページを更新しました。Bページを更新しました。Bページを更新しました。</a>
          </dd>
        </div>
      </dl>
    </div>
  </body>
</html>
